<div id="login" class="grid-container align-center expand">
  <!-- Login -->
  <div class="grid-block align-center">
    <div class="small-12 large-9 small-centered columns">

      <!-- Callout -->
      <div class="callout">
        <p><strong>Architizer Mendel</strong> is leading the effort to develop a bottom-up genome of architecture.</p>
        <p><a ui-sref="about">Read more &rarr;</a></p>
      </div>

      <!-- Login Form -->
      <fieldset class="fieldset">
        <legend>Login</legend>
        <form ng-submit="login.submit(login.credentials)">

          <!-- Email Address -->
          <div class="row">
            <div class="small-12 columns">
              <input type="text" ng-model="login.credentials.username" placeholder="User Name" ng-required="true" focus-if="true">
            </div>
          </div>

          <!-- Password -->
          <div class="row">
            <div class="small-12 columns">
              <input type="password" ng-model="login.credentials.password" placeholder="••••••••" ng-required="true">
            </div>
          </div>

          <!-- Submit / Enter -->
          <div class="row">
            <p>Press <a ng-click="login.submit(login.credentials)"><kbd>return</kbd></a> to log in.</p>
            <button class="hide"></button>
          </div>
        </form>
      </fieldset>

    </div>
</div>
</div>
