<div id="am-category-filter-bar" class="show-for-medium">
  <div class="row collapse">
    <div class="small-12 columns">
      <!-- Category Filter Input -->
      <input ng-model="categoryFilterBar.input" ng-model-options="{ debounce: 200 }" type="text" focus-if="categoryFilterBar.focus" ng-disabled="categoryFilterBar.disabled">

      <!-- Matching Categories -->
      <div class="matches" ng-if="categoryFilterBar.matches">

        <!-- Category Tiles -->
        <div ng-repeat="category in categoryFilterBar.matches">

          <!-- Category Tile -->
          <div class="tile" ng-click="categoryFilterBar.handle($event)">
            <input ng-model="category.selected" type="checkbox" name="category-tile-{{ category.id }}">
            <label ng-mouseover="categoryFilterBar.helpCategory = category" for="category-tile-{{ category.id }}">{{ category.name }}</label>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
