packages:
  yum:
    postgresql94-devel: []
    gcc: []
 
commands:
  01-install-node:
    command: "yum install nodejs npm --enablerepo=epel -y"

container_commands:
  01_migrateall:
    command: "python manage.py migrate"
    leader_only: true

  02-install-dependencies:
    command: "npm install -g bower gulp"

  03_gulp:
    command: "cd mendel/angular/ && gulp clean && gulp django && cd ../../"
  04_collectstatic:
    command: "python manage.py collectstatic --noinput"



