packages:
  yum:
    postgresql94-devel: []
    gcc: []
 
commands:
  01-install-node:
    command: "sudo yum install nodejs npm --enablerepo=epel -y"

container_commands:
  01_migrateall:
    command: "python manage.py migrate"
    leader_only: true

  02-install-dependencies:
    command: "sudo npm install -g gulp"

  03_cd:
    command: "npm install gulp"

  04_cd:
    command: "npm install"

  05_cd:
    command: "npm install wrench"

  06_cd:
    command: "npm install gulp-util --save-dev"

  07_gulp_clean:
    command: "cd mendel/angular/ && sudo gulp clean"

  08_gulp_django:
    command: "sudo gulp django"

  09_cd_back:
    command: "cd ../../"
  
  10_collectstatic:
    command: "python manage.py collectstatic --noinput"