packages:
  yum:
    postgresql94-devel: []
    gcc: []
 
commands:
  01-install-node:
    command: "yum install nodejs npm --enablerepo=epel -y"

container_commands:
  01_migrateall:
    command: "python manage.py migrate"
    leader_only: true

  02-install-dependencies:
    command: "npm install"
  03-build:
    command: "npm run build"

  04_gulp:
    command: "cd mendel/angular/ && gulp clean && gulp django && cd ../../"
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"



