#controlbar {
  background: $white;
  border-bottom: 2px solid $border-color;
  font-size: 1rem;
  padding: 0.8rem 0;

  .special-categories {
    display: inline;

    a:last-child {
      margin-right: 1.5rem;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: darken($primary-color, 10%);
    }

    // Special Category links
    &.special-category {
      padding: .5rem;
      border-radius: 6px;
      color: darken($gunmetal, 15%);

      &:hover {
        color: darken($gunmetal, 25%);
      }


      // "Delete" is selected
      &.delete.selected {
        color: $white;
        background-color: $delete-color;

        &:hover {
          background-color: darken($delete-color, 5%);
          color: $white;
        }
      }

      // "I don't know" is selected
      &.idk.selected {
        color: $white;
        background-color: $idk-color;

        &:hover {
          background-color: darken($idk-color, 5%);
          color: $white;
        }
      }
    }

  }

  // For whatever reason, .expanded isn't working. I'll troubleshoot later.
  .row {
    width: 100%;
  }

  .material-icons {
    font-size: 0.9rem;
    color: inherit;
    vertical-align: baseline;
  }
}

#main {

  @include breakpoint(small only) {
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
  }

  $action-bar-height: 3.5rem;
  $action-bar-system-height: 2.5rem;

  h2 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 800;
    color: darken($gunmetal, 10%);
    font-size: 0.8rem;
  }

  // Subject Column (Left)
  .subject-column {
    border-right: 2px solid $border-color;
    padding-top: 0.5rem;

    h1 {
      margin-bottom: 0;

      small {
        font-size: 1.25rem;
      }
    }

    span.keyword-highlight {
      font-weight: 800;
      background-color: #FFF8D0;
      padding: 3px 6px;
      border-radius: 3px;
    }

    h1.keyword {

      &:focus {
        outline: none;
      }
    }

    // Input field when editing keyword
    input.edit-keyword {
      border: 0;
      border-width: 0;
      font-size: 3rem;
      width: 100%;
      padding: 0;
      line-height: 1.4;

      &:focus {
        outline: none;
      }
    }

    &.empty-state {
      .material-icons {
        margin-top: 3rem;
        font-size: 5rem;
        font-weight: 100;
      }
    }
  }

  // Categories Column (Right)
  .categories-column {
    &.empty-state {
      background-color: lighten($border-color,3%);
    }

    .categories {
      margin-top: 2.7rem;
    }

    .overlay-mask {
      background: rgba(255,255,255,0.8);
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    div.category-selector {
      // Medium & Small Screen Styles
      @include breakpoint(medium down) {
        &:nth-child(2n+3),
        &:first-child {
          padding-right: 0.25rem;
        }
        &:nth-child(2n) {
          padding-left: 0.25rem;
        }
      }

      // Large Screen Styles
      @include breakpoint(large) {
        padding: 0 0 1rem;
        &:nth-child(4n+5),
        &:first-child {
          padding-right: 0.75rem;
        }
        &:nth-child(4n+2) {
          padding-left: 0.25rem;
          padding-right: 0.5rem;
        }
        &:nth-child(4n+3) {
          padding-right: 0.25rem;
          padding-left: 0.5rem;
        }
        &:nth-child(4n) {
          padding-left: 0.75rem;
        }
      }

    }
  }

  // Bottom Help Area
  .help-area {
    background: #FAFAFA;

    .examples {
      padding-top: 0;
      .column {
        padding-bottom: 0;
        text-overflow: ellipsis;
      }
    }

    .hide-help-area {
      border-top: 1px solid darken($border-color, 5%);
      border-bottom: 1px solid darken($border-color, 5%);
      background-color: #F8F8F8;
      padding: 0.5rem 0;
      font-size: 0.875rem;
      cursor: pointer;
      outline: 0;

      &:hover {
        background: darken(#f8f8f8, 1.5%);
      }

      .material-icons {
        font-size: 0.75rem;
      }

      a {
        color: $dark-gray;
      }
    }

    .help-area-panel {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 0.3rem;
    }

  }
}
