<div id="main" class="container">
  <!-- Main -->
  <div class="row">

    <!-- Left Column -->
    <div class="small-12 large-4 columns">

      <!-- Left Action Bar -->
      <div class="action-bar row">

        <!-- Previous -->
        <div class="small-3 columns">
          <p class="text-left"><a><i class="material-icons">arrow_back</i>Prev</a></p>
        </div>
        <!-- Next -->
        <div class="small-3 columns">
          <p class="text-right"><a>Next <i class="material-icons">arrow_forward</i></a></p>
        </div>
      </div>

      <!-- Left Column Content -->
      <div class="row">
        <div class="small-12 columns">

          <!-- Word Panel -->
          <div class="row">

            <h4 class="subheader show-for-large">Subject</h4>

            <div class="callout small-12 columns">
              <p class="subheader">Word</p>
              <h1>{{ main.keyword.name }}</h1>
              <!-- TODO: Re-enable Edit Keyword -->
              <!-- <p class="subheader"><a ng-href="#">Edit keyword <i class="material-icons">arrow_forward</i></a></p> -->
            </div>
          </div>

          <!-- Metadata Panel -->
          <div class="row show-for-large">

            <h4 class="subheader">Metadata</h4>

            <div class="callout small-12 columns">
              <p class="subheader">Context</p>
              <p>{{ main.context.front }}  <strong>{{ main.keyword.name }}</strong> {{ main.context.back }}</p>
              <!-- TODO: Re-enable Load New Context -->
              <!-- <p class="subheader"><a ng-href="#">Load new context <i class="material-icons">arrow_forward</i></a></p> -->
            </div>
          </div>

          <!-- Definition Panel -->
          <div class="row show-for-large">
            <div class="callout small-12 columns">
              <p class="subheader">Definition</p>
              <!-- TODO: Re-enable Definition -->
              <p>(This is where the definition will go)</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="large-8 columns">

      <!-- Right Action Bar -->
      <div class="action-bar row">
        <!-- TODO: Re-enable Category Filter -->

        <!-- Category Filter -->
        <!--

        <div class="small-12 large-8 columns">
          <input type="text" placeholder="start typing to select a category">
        </div>

        -->

        <!-- Help Area -->
        <!--

        <div class="large-4 columns">
          <div class="callout without-top-margin show-for-large">
            <p>Start typing to select a category.</p>
          </div>
        </div>

        -->
      </div>

      <!-- Right Column Content -->
      <div class="row">
        <div class="small-12 columns">

          <!-- Category Tiles -->

          <h4 class="subheader">Categories</h4>

          <div class="row small-up-2 medium-up-4">

            <!-- Stop Word -->
            <div class="column">
              <a class="medium expanded hollow secondary button">Stop word <kbd class="float-right">,</kbd></a>
            </div>

            <!-- Undefined -->
            <div class="column">
              <a class="medium expanded hollow secondary button">Undefined <kbd class="float-right">.</kbd></a>
            </div>
            
            <!-- Main Categories -->
            <div class="column" ng-repeat="category in main.categories">
              <a class="medium expanded category button" ng-class="{ 'hollow': !main.selected[category.id] }" ng-click="main.toggleCategory(category, main.context)">{{ category.name }}</a>
            </div>

            <!-- New Category -->
            <!-- TODO: Re-enable "New Category" Function -->
            <!--
            <div class="column">
              <a class="medium expanded hollow button" ng-href="#">New Category</a>
            </div>
            -->

          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
