<div id="main" class="container">
  <!-- Main -->
  <!-- Action Bar -->
  <div class="action-bar">
    <div class="row large-collapse">
      <div class="small-12 large-4 columns subject-navigation">

        <!-- Previous -->
        <div class="small-6 columns">
          <p class="text-left"><a>&larr; Prev</a></p>
        </div>

        <!-- Next -->
        <div class="small-6 columns">
          <p class="text-right"><a ng-click="main.getNextContext(main.context)">Next &rarr;</a></p>
        </div>

      </div>

      <div class="large-8 show-for-large columns categories-search">
        <input type="text" placeholder="start typing to select a category">
      </div>

    </div>
  </div>

  <div class="row">

    <!-- Left Column -->
    <div class="small-12 large-4 columns subject-column">

      <!-- Left Column Content -->
      <div class="row">
        <div class="small-12 columns subjects">

          <!-- Word Panel -->

          <h2 class="subheader">Subject</h2>

          <div class="callout small-12 columns with-bottom-margin">
            <h3>Word</h3>
            <h1>{{ main.keyword.name }}</h1>
            <p class="subheader"><a ng-href="#">Edit keyword &rarr;</a></p>
          </div>

          <!-- Metadata Panel -->

          <h2 class="subheader show-for-large">Metadata</h2>

          <div class="callout small-12 columns">
            <h3>Context</h3>
            <p>{{ main.context.front }} <strong>{{ main.keyword.name }}</strong> {{ main.context.back }}</p>
            <p class="subheader"><a ng-href="#">Load new context &rarr;</a></p>
          </div>

          <!-- Definition Panel -->
          <div class="callout small-12 columns">
            <h3>Definition</h3>
            <p>{{ main.definition }}</p>
          </div>

        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="large-8 columns categories-column">
      <div class="row">
        <div class="large-12 columns categories-system-actions">
          <div class="small-6 columns system-action">
            <a class="expanded button delete" ng-href="#">Delete <kbd>,</kbd></a>
          </div>

          <!-- Next -->
          <div class="small-6 columns system-action">
            <a class="expanded button idk" ng-href="#">I don't know <kbd>.</kbd></a>
          </div>
        </div>
      </div>

      <!-- Right Column Content -->
      <div class="row">
        <div class="small-12 columns categories">

          <!-- Category Tiles -->
          <h2 class="subheader">Categories</h2>

          <div class="row collapse small-up-2 medium-up-4">

            <!-- Main Categories -->
            <div class="category-selector column" ng-repeat="category in main.categories">
              <div class="switch">
                <input class="switch-input" ng-model="category.selected" id="category-switch-{{ category.id }}" type="checkbox" name="category-switch-{{ category.id }}">
                <label class="switch-paddle" for="category-switch-{{ category.id }}">
                  <span class="show-for-sr">{{ category.name }}</span>
                </label>
              </div>
              <a class="medium expanded category hollow button" ng-click="main.toggleCategory($event, category)" title="{{ category.name }}">{{ category.name }}</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
