<div id="am-navbar" class="top-bar-container">
  <nav class="top-bar">
  <div class="top-bar-title">
    <ul class="menu">
      <li class="menu-text">Architizer Mendel</li>
    </ul>
  </div>
  <div>
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
        <li><a ng-href="#"><i class="material-icons">info_outline</i></a></li>
        <li ng-show="navbar.user">
          <a>{{ navbar.user.username || 'User' }} </a>
          <ul class="menu vertical">
            <!-- <li><a ng-href="#">Name</a></li> -->
            <!-- <li><a ng-href="#">Email</a></li> -->
            <!-- <li><a ng-href="#">Password</a></li> -->
            <li><a ng-click="navbar.logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
