<nav id="am-navbar" class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Architizer Mendel</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
        <li><a ng-href="#">Help</a></li>
        <li><a ng-href="#">About</a></li>
        <li>
          <a ng-href="#">User</a>
          <ul class="menu vertical">
            <li><a ng-href="#">Name</a></li>
            <li><a ng-href="#">Email</a></li>
            <li><a ng-href="#">Password</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>