<div id="am-navbar" class="top-bar-container">
  <nav class="top-bar">
  <div class="top-bar-title">
    <ul class="menu">
      <li class="menu-text">
        <a ui-sref="main">Architizer Mendel</a>
      </li>
    </ul>
  </div>
  <div>
    <div class="top-bar-left">
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu data-disable-hover="true" data-click-open="true">
        <li><a ui-sref="about"><i class="material-icons">info_outline</i></a></li>
        <li ng-show="navbar.user">
          <a>{{ navbar.user.username || 'User' }} </a>
          <ul class="menu vertical">
            <li ng-if="navbar.user.is_staff"><a href="/admin" target="_self">Administration</a></li>
            <li><a ui-sref="account">Account Settings</a></li>
            <li><a ng-click="navbar.logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
