#am-navbar {
  background: $topbar-background;
  color: #EFEFEF;
  padding: 0.7rem;
  a,
  .menu-text {
    color: #ccc;
  }

  a:hover {
    color: #999;
  }

  // Color of Dropdown Caret
  .is-dropdown-submenu-parent > a:after {
    border-color: #ccc transparent transparent;
  }

  .top-bar {
    padding: 0;
    &, & ul {
      background: $topbar-background;
    }
  }

}
